// app global css in SCSS form
@font-face {
  font-family: customfont;
  src: url(./fonts/Fredoka-VariableFont_wdth,wght.ttf);
}

@font-face {
  font-family: subTitle;
  src: url(./fonts/Fredoka-VariableFont_wdth,wght.ttf);
}

// declare a class which applies it
*{
  font-family: 'customfont';
}
.subTitle{
  font-family: 'subTitle';
}

* {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
